@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");

:root {
}

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Anton", "Poppins", sans-serif;
}

html {
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: visible;

  font-family: "Anton", "Poppins", sans-serif;

  background-color: #92bdeb;
}
.header-cont {
  position: fixed;
}
.glow {
  transition: all 250ms;
}
.glow:hover {
  box-shadow: 0 0 110px #fff;
  background-color: rgb(255, 255, 255);
}
.testi-btn:hover {
  box-shadow: 0 0 110px #fff;
  background-color: rgb(255, 255, 255);
  color: #111;
  font-weight: 500;
}

.hero-btn {
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.hero-btn:hover {
  animation: sh0 0.5s ease-in-out both;
}

.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.hero-btn:hover {
  color: #e8e8e8;
}

.hero-btn:hover::before {
  width: 100%;
}

.btn:hover {
  animation: sh0 0.5s ease-in-out both;
}

.btn {
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

/* .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;

  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
} */

.btn:hover {
  color: #e8e8e8;
}

.btn:hover::before {
  width: 100%;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.hero {
  max-width: 100vw;
  margin: auto;
  min-height: 100vh;
  /* border: 1px solid red; */
  background: linear-gradient(
      89.03deg,
      #f1f8ff 5.38%,
      rgba(230, 242, 244, 0) 97.95%
    ),
    url("../../public/hero.jfif");
  background-position: right;
  background-size: 75vw;
  background-repeat: no-repeat;
  background-position-y: inherit;
  background-color: #f1f8ff;
  background-attachment: fixed;
}
.bg-hero-img {
  max-width: 100vw;
  margin: auto;
  min-height: 100vh;
  /* border: 1px solid red; */
  overflow: hidden;
  position: relative;
}

.cont-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(50%, -60%); */
}
.bg-hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/hero-bg.jfif");
  backdrop-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.15;
}

.gap > * {
  margin: 20px;
}
.Banner {
  /* background-color: #ebf5ff; */
  /* border: 1px solid yellow; */
}
.css-nd8846 {
  align-items: center;
}

.carousel {
  min-height: 100vh;
  padding: 50px 0px;
  padding-bottom: 20px;
  width: 100vw;
  margin: auto;

  /* background-color: #009990; */
}

.carousel-wrapper {
  display: flex;
  width: 300%;
  height: 100vh;
  flex-wrap: nowrap;
}

.main-carousel {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-carousel > div {
  /* border: 1px solid blue; */
  min-height: 100vh;
  /* background-color: cornflowerblue; */
}

.grid-1,
.grid-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carol-bg1 {
  background-color: #009990;
  color: white;
}
.carol-bg2 {
  background-color: #0b0d0d;
  color: white;
}
.carol-bg3 {
  background-color: #0479ce;
  color: white;
}
.carol-bg4 {
  background-color: #fb491d;
  color: white;
}
.pic-1 > img {
  width: 50%;
}
.pic-1 {
  transform: translateY(10px);
  transform: translateX(-50px);
}
.pic-2 {
  transform: translateX(150px);
  margin-top: -50px;
  z-index: 55;
}
.pic-3 {
  transform: translateY(-40px);
  z-index: 100;
}
.pic-2 > img {
  width: 70%;
}
.pic-3 > img {
  width: 50%;
}
.grid-2 > div {
  width: 90%;
  color: white;
}
.css-1jx0ydh {
  background-color: transparent !important;
  box-shadow: none !important;
}

.card {
  width: 300px;
  height: 350px;
}

.card > img {
  width: 100%;
}
.header {
  /* max-width: 1440px; */
  margin: auto;
}
.feature {
  max-width: 70vw;
  margin: auto;
  /* height: 90vh; */
  padding: 6rem 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.feat-img-div {
  height: 490px;
  width: 400px;

  margin: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url("../../public/hero.jfif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bgbanner {
  background: linear-gradient(
      67.07deg,
      rgba(0, 0, 0, 0.65) 33.14%,
      rgba(0, 0, 0, 0) 104.63%
    ),
    url("../../public/banner2.png");

  background-attachment: fixed;
}

.footer {
  /* max-width: 1440px; */
  margin: auto;
}
.testimony {
  /* max-width: 1440px; */
  margin: auto;
}
.car-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  transform: translateX(300px);
}
.car-card > div {
  padding: 20px;
}
.car2 {
  width: 300px;
  position: relative;

  top: 500px;
  right: 250px;
  z-index: 15;
}

.car1 {
  width: 400px;
  position: relative;
  left: 400px;

  top: 80px;
  z-index: 10;
}
.css-jv498s {
  background-color: none;
  box-shadow: none;
}

.car3 {
  width: 300px;
  position: absolute;
  right: 550px;
}

.card {
  width: 375px;
}

.container {
  /* position: absolute; */
  z-index: 10;
}

.container .card .icon {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;
  /* background-image: ; */
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 108.46%
    ),
    url("../../public/abt-cover1.jfif");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: inherit;
  height: 100%;
}

.container .card .icon .fa {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 60px;
  font-weight: 500;
  color: #e43f16;
}

.container .card .slide {
  width: 375px;

  height: 200px;

  transition: 0.5s;
}

.container .card .slide.slide1 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: 0.7s;

  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.container .card .slide.slide2 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: 0.8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
  background-color: black;
}

.abt-join > * {
  margin: 30px;
}

/* .container .card .slide.slide2::after {
  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #2c73df;
} */
.container .card .slide.slide1 .content p {
  color: white;
}

.container .card .slide.slide2 .content p {
  margin: 0;

  padding: 0;

  text-align: center;

  color: white;
}

.container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: white;
}

.facility-grid-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  min-height: 700px;
  max-width: 90vw;
  margin: auto;
}

.facility-grid > div {
  background-color: #88c47c;
  border: 1px solid black;
}

.grid-card {
  width: 250px;
  height: 420px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px soiid red;
}

.grid-card2 {
  width: 250px;
  height: 420px;
  color: white !important;
  font-size: 40px;
  border-radius: 20px;
  transition: all 0.2s;
  border: 1px soiid red;
}
.div-1 {
  background-color: #239e9c;
}
.div-2 {
  background-color: #030404;
}

.div-3 {
  background-color: #3e51ad;
}
.div-4 {
  background-color: #e75820;
}

.grid-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.grid-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(6, 7, 6, 0.3);
}

@media screen and (max-width: 750px) {
  .css-1bcth50 {
    justify-content: end;
  }
  .hero {
    /* background-size: 110%; */
    /* background-position: center; */
    /* background-position-y: none; */
    background-size: cover;
  }
  .Banner {
    font-size: medium;
    padding: 6rem 3rem;
  }
  .banner-btn {
    font-size: medium !important;
    max-width: 90% !important;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding-left: none;
    padding: 0px 3rem;
  }
  .Banner {
    font-size: small;
    padding: 4rem 2rem;
  }
  .banner-btn {
    font-size: small !important;
    max-width: 95% !important;
  }
}
